<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
  <div class="container">
    <a class="navbar-brand" href="#">Dating App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">

      @if (loggedIn()) {
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">

          @for (item of navItems; track item.path) {
            <li class="nav-item">
              <a class="nav-link"
                [routerLink]="item.path">
                {{item.title}}
              </a>
            </li>
          }

          <li class="nav-item">
            <a class="nav-link"
              (click)="logout()">
              Logout
            </a>
          </li>
        </ul>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>

      } @else {
        <div class="collapse navbar-collapse justify-content-md-center">
          <app-login-form></app-login-form>
        </div>
      }

    </div>
  </div>
</nav>
