<form [formGroup]="loginForm" class="d-flex" (ngSubmit)="onSubmit()" autocomplete="off">

    <input class="form-control" type="text" formControlName="username" placeholder="Username">
    <div class="row" *ngIf="isValidField('username')">
      <span class="form-text text-danger" > Incorrect username </span>
    </div>

    <input class="form-control mx-3" type="password" formControlName="password" placeholder="Password">
    <div class="row" *ngIf="isValidField('password')">
      <span class="form-text text-danger" > Incorrect password </span>
    </div>

    <button class="btn btn-outline-success" type="submit">Login</button>
</form>

