<div class="container mt-5">

  @if (!registerMode) {

    <div style="text-align: center;">
      <h1> Find your match</h1>
      <p class="lead"> Sign up to view your matches!</p>
      <div class="text-center">
        <button class="btn btn-primary btn-lg me-2" (click)="registerToggle()" *ngIf="!loggedIn()">
          Register
        </button>
        <button class="btn btn-secondary btn-lg"> Learn more </button>
      </div>
    </div>

  } @else {

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-4">
          <app-register-form (cancelRegister)="cancelRegisterMode($event)"></app-register-form>
        </div>
      </div>
    </div>
  }

</div>
