<h2 class="text-center text-primary"> Sign up </h2>
<hr>

<form [formGroup]="registerForm" (ngSubmit)="register()">
  <div class="mb-3">
    <input type="text"
      class="form-control"
      placeholder="Username"
      formControlName="username"
    >
  </div>
  <div class="mb-3">
    <input type="password"
      class="form-control"
      placeholder="Password"
      formControlName="password"
    >
  </div>

  <div class="text-center">
    <button class="btn btn-success me-2" type="submit"> Register </button>
    <button class="btn btn-default me-2" type="button" (click)="cancel()"> Cancel </button>
  </div>

</form>

<div class="row">
  @if (registerForm.invalid) {
    <div class="col" *ngIf="isValidField('username')">
      <span class="form-text text-danger" > Incorrect username </span>
    </div>

    <div class="col" *ngIf="isValidField('password')">
      <span class="form-text text-danger" > Incorrect password </span>
    </div>

  }
</div>
